#app {
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;   /* Отступает от родителя(#app), слева на 200px, там будет другой блок(.sidebar) */
}

/* Занимает фиксированную позицию слева от окна браузера с шириной 200 пикселей.
Остается на месте при прокрутке страницы. */
.sidebar {
    position: fixed;   /* Относительно окна а не родителя, при прокрутке стоит на месте */
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;   /* Как раз размер отступа (.content) */
    z-index: 100;   /* Значение в 100, чтобы наверняка перекрыл все возможные слои и всегда был перввым слоем от клиента */
    padding: 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);   /* Внутренняя тень */
    overflow-y: auto;   /* Если содержимое элемента .sidebar превышает его высоту, будет добавлена вертикальная прокрутка. */
}